.splash_container {
    width: 100vw;
    height: 100vh;
    background: #1facf3;
}
.skip_btn {
    position: absolute;
    top: 20px;
    right: 35px;
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}
.bottom_img {
    position: absolute;
    /* bottom: 0; */
    bottom: -250px;
    left: 0;
    width: 100vw;
    height: 450px;
    animation: opacityAnimation 0.6s ease-out;
}
.splash_contents {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    color: #fff;
    animation: opacityAnimation 1s ease-out;
    transition: 0.3s ease-in-out;
}
.content_img {
    z-index: 999;
    width: 500px;
    animation: rotate 1s ease-in-out;
    transition: 0.3s ease-in-out;
}
.contents {
    width: 40%;
    transition: 0.3s ease-in-out;
}
.contents h1 {
    animation: opacityAnimation 4s ease-in-out;
    transition: 0.3s ease-in-out;
}
.contents p {
    padding: 10px 0;
    animation: opacityAnimation 5s ease-in-out;
    transition: 0.3s ease-in-out;
}
.arrow_btn {
    /* width: 60px !important; */
    height: 60px;
    background: #34d5e5 !important;
    box-shadow: 0px 14px 14px 0px #34d5e599;
    border-radius: 50% !important;
    color: #fff !important;
    margin: 100px auto 0 !important ;
    display: flex !important;
    transition: 0.3s ease-in-out;
}
.arrow_btn:hover {
    background: #00eaff !important;
    transition: 0.3s ease-in-out;
}
.arrow_btn .MuiSvgIcon-root {
    font-size: 45px;
    transition: 0.3s ease-in-out;
}

@keyframes rotate {
    0% {
        width: 100px;
        rotate: -40deg;
    }
    100% {
        rotate: 0deg;
    }
}
@keyframes width {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .splash_contents {
        height: 80vh;
        flex-direction: column;
    }
    .content_img {
        width: 300px;
    }
    .contents {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .contents h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 350px) {
    .content_img {
        width: 220px;
    }
    .contents h1 {
        font-size: 1.25em;
        font-weight: 500;
    }
    .contents p {
        font-size: 0.8em;
    }
    .arrow_btn {
        margin: 0px auto 0 !important ;
    }
    .bottom_img{
        bottom: -200px;
    }
}
