.authPage_container {
    width: 100vw;
    height: 100vh;
    background: #1facf3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 20px 50px;
    animation: opacityAnimation 1s ease-out ;
    color: #fff;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.brand_logo {
    width: 80px;
    animation: scale 1s ease-in-out;
    transition: 0.3s ease-in-out;
}
.frame_img {
    z-index: 1;
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}
.auth_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.auth_btn {
    width: 100%;
    max-width: 400px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

@keyframes scale {
    0% {
        width: 0%;
        rotate: 360deg;
    }
    70% {
        width: 80px;
        rotate: -50deg;
    }
}

@media (max-width: 500px) {
    .authPage_container {
        padding: 120px 20px 20px;
    }
    .brand_logo {
        width: 50px;
    }
    .frame_img {
        width: 340px;
    }
}
@media (max-width: 350px) {
    .brand_logo {
        width: 40px;
    }
    .frame_img {
        width: 240px;
    }
}
