.forgot_password_container {
    display: flex !important;
}

.password_changed_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.password_changed_container {
    form {
        height: auto;
    }
}
.forgot_password_container {
    form {
        height: 100%;
        gap: 20px;
        justify-content: start;
        padding-top: 40px;
    }
    .auth_btn {
        margin-top: 0;
    }
    p {
        padding-top: 10px;
        text-align: center;
    }
}
.successImg {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100px;
    animation: anim 1s ease-in-out, opacity 1.4s ease-in-out;
    transform-style: preserve-3d;
}
@keyframes anim {
    0% {
        filter: blur(1000px);
        transform: translateY(-1000px) rotateY(500deg) rotateX(500deg);
    }
    90% {
        transform: 0;
    }
    100% {
        filter: none;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        /* rotate: -300deg; */
    }
    50% {
        /* rotate: 40deg; */
    }
    100% {
        opacity: 1;
        rotate: 0;
    }
}
