.booking_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background: #1facf3;
    color: #fff;
}
.booking_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.booking_container div h1 {
    font-weight: 500;
}
.booking_container .button {
    max-width: 350px;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    border: none;
    background: #fff;
    color: #1facf3;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.booking_img {
    animation: booking 1s ease-in-out ;
    /* transform: matrix(1, .1, 0.1, .7, 0.1, 0) translateX(-200px); */
}

@keyframes booking {
    0% {
        opacity: 0;
        transform: matrix(1, .1, 0.1, .7, 0.1, 10) translateX(-200px);
        /* transform: matrix(2, 0.1, 0.5, 0.2, 50, -150); */
    }
    70% {
        transform: scale(1.15);
    }
    100% {
        transform: 0;
    }
}
